<b>pogrubione</b> <br>

normalne   spacje <br>

     <i>pochylone</i> <br>

<u>podkreslone</u> <br>


tekst <b>pogrubiony <u>pogrubiony i podkreslony</u> tylko pogrubiony </b> zwykly tekst


<pre>
tekst    preformatowany

wszystkie spacje     zostaja


oraz   nowe linie
</pre>


<h1>naglowek najwiekszy</h1>
<h5>naglowek najwiekszy</h5>

<h3>artykul</h3>

<p>askdjf askj asdjf jas
  asdfaskldjf asjd fas;df j
  aksfjaskdljf; jasjfas adfasd fasd fasd fasd
</p>


<ul>
<li>pierwszy</li>
<li>drugi</li>
<li>trzeci</li>
</ul>

<ol>
<li>nowe 1</li>
</ol>

<a href="http://onet.pl">link do onetu</a>
<a href="artykul.html">moj artykul</a>
